/* mobile first */
.Container {
  width: 15%;
  opacity: 0.8;
  cursor: pointer;
  margin-right: 0.5vw;
  filter: drop-shadow(0 0 0.3vw var(--secondary-1))
    drop-shadow(0 0 0.5vw var(--highlight-1));
}

.Container:hover {
  opacity: 1;
}

.MiniCircle {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-highlight-vw);
  box-shadow: var(--border-shadow-highlight-vw);
}

.MiniCircleImage {
  width: 60%;
  filter: hue-rotate(330deg) brightness(400%);
}
/* end mobile first */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .Container {
    margin-top: 1vh;
    width: 12.8%;
  }
}
/* end all devices portrait */

/* iPad and iPadPro portrait tweaks */
@media (min-width: 760px) and (max-width: 1024px) and (orientation: portrait) {
  .Container {
    width: 10%;
  }
}
/* end iPad and iPadPro portrait tweaks */

/* Surface Duo and devices alike portrait tweaks*/
@media (max-width: 600px) and (min-height: 700px) and (max-height: 725px) {
  .Container {
    width: 10%;
  }
}
/* end Surface Duo and devices alike portrait tweaks*/
