/* mobile first */
.Container {
  width: 74%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container > div {
  padding: 0 0.6rem;
  margin: 0.5rem 0;
}

.HalfScreen {
  width: 50%;
}

.ArrowIcon {
  width: 5.5vw;
  height: 5vw;
  max-width: unset;
  max-height: unset;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.ArrowImage {
  max-width: unset;
  width: 4.5vw;
}

.ArrowPositionUp {
  top: 1%;
}

.ArrowPositionDown {
  top: 87%;
}

.TopLeft {
  left: 1vw;
}

.Show {
  width: 100%;
}

.Hide {
  width: 0%;
  margin: 0 !important;
  padding: 0 !important;
}
/* end mobile first */

/* all screens portrait */
@media screen and (orientation: portrait) {
  .Container {
    flex-direction: column;
    width: 95%;
  }

  .Container > div {
    margin: 0;
  }

  .ArrowIcon {
    width: 12vw;
    height: 11.5vw;
  }

  .ArrowImage {
    max-width: unset;
    width: 9vw;
  }

  .Show {
    height: 100%;
  }

  .Hide {
    height: 0;
  }
}
/* end all screens portrait */

/*lg screens portrait reversal to mobile first rules */
@media (min-height: 960px) and (orientation: portrait) {
  .Container {
    width: 95%;
    flex-direction: row;
  }

  .ArrowIcon {
    width: 6.5vw;
    height: 6.5vw;
  }

  .ArrowImage {
    width: 6vw;
  }
}
/* end lg screens portrait reversal to mobile first rules */

/* lg screens landscape tweaks */
@media (min-width: 1024px) and (orientation: landscape) {
  .ArrowIcon {
    width: 4vw;
    height: 4vw;
  }

  .ArrowImage {
    width: 6vh;
  }
}
/* end lg screens landscape tweaks */

/* Surface Duo and devices alike portrait tweaks*/
@media (max-width: 600px) and (min-height: 700px) and (max-height: 725px) {
  .Container {
    width: 98%;
    flex-wrap: wrap;
  }

  .HalfScreen {
    padding: 0.5vw !important;
  }

  .ArrowIcon {
    width: 7.5vh;
    height: 7vh;
  }

  .ArrowImage {
    width: 7vh;
  }

  .ArrowPositionDown {
    top: 84%;
  }
}
/* end Surface Duo and devices alike portrait tweaks*/

/* Galaxy Fold and devices alike portrait tweaks*/
@media (max-width: 300px) and (max-height: 700px) {
  .ArrowIcon {
    width: 6vh;
    height: 5.5vh;
  }

  .ArrowImage {
    width: 5.5vh;
  }

  .ArrowPositionDown {
    top: 86%;
  }
}
/* end Galaxy Fold and devices alike portrait tweaks*/
