/* mobile first */
.ScreenDivisionTop {
  border: var(--border-secondary-vw);
  box-shadow: var(--border-shadow-secondary-vw);
  border-radius: 0.4vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.ScreenDivisionBottom {
  align-self: flex-start;
  justify-content: flex-start;
}
/* end mobile first */

/* all devices portrait */
@media screen and (orientation: portrait) {
  .ScreenDivisionTop {
    border: var(--border-secondary-vh);
    box-shadow: var(--border-shadow-secondary-vh);
    padding-top: 0.5vh;
  }
}
/* end all devices portrait */
