/* mobile first */
.Container {
  width: 100%;
  height: 100%;
}

.Input {
  height: 21vh;
  font-size: 11vh;
  letter-spacing: 0.3vw;
}

/* end mobile first */

/* all screens portrait */
@media screen and (orientation: portrait) {
  .Container {
    height: 95%;
    padding: 1.8vh 0;
  }

  .Input {
    height: 7vh;
    width: 35vw;
    margin: auto;
    font-size: 6vh;
  }
}
/* end all screens portrait */
